body {
    background-color: grey;
}

table {
    border-collapse: collapse;
    display: none;
	border: 2px solid black;
	border-spacing: 3px;
	margin: 25px;
	float: left;
}

.menu {
	z-index: 2;
}

/* Universal Styles */
.pointer {
	cursor: pointer;
}

.myBtn {
	font-size: 20px;
	margin-top: 10px;
	margin-left: 20px;
	width: 100px;
	max-width: 100%;
	height:50px;
	max-height: 100%;
	border-radius: 15%;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	color: black;
	font-weight: 400;
}

.myBtn:hover  {
	background-color: black;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	cursor: pointer;
}

.selector {
	font-size: 15px;
}

.center {
    position: absolute;
    top: 50%; margin-top:-100px;
    left: 50%; margin-left:-400px;
	text-align:center; vertical-align:middle;
    font-weight: bold;
}

.cash {
	color:green;
}

/* Cookie Warning Menu Styles */
#cookie_warning {
	width:800px; 
    height: 200px;
    font-size: 30px;
    color: black;
}

/* Background design */
.background-design {
	position: absolute;
	z-index: -10;
    width: 100%;
    height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.bgLine {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	position: absolute;
	margin: 0;
    width: 100%;
	height: 100px;
	max-width: 100%;
	max-height: 100%;
	background-color: rgba(58, 92, 84, 10);
	transform: rotate(15deg);
	top:300px;
	left:-30px
}

/* All Winning Screen style */

/* All main menu styles */
.center_main {
	display: flex;
	position: absolute;
	justify-content: center;
	width: 100%;
	height: 100%;
	max-width: 99%;
	max-height: 98%;
}

.player_select {
	position: absolute;
	border: 1px solid black;
	background-color: gray;
	left: 293.5px;
	width: 550px;
	height:250px;
	max-width: 100%;
	max-height: 100%;
	z-index: 2;
}

.player_input_container {
	position: absolute;
	left: 18.5px;
	top: 5px;
}

.start_action {
	display: flex;
	place-items: center;
	position: absolute;
	justify-content: center;
	width: 450.5px;
	height:30px;
	top:140px;
}

#start_game {
	width: 150px;
	height:35px;
	max-height: 100%;
	max-width: 100%;
	margin-top:-15px;
}

.error {
	border: 1px solid black;
	width: 430px;
	height:75px;
	margin-top:65px;
}

#error_txt {
	align-self: center;
	text-align: center;
	vertical-align: center;
	margin-top:6%;
}

.divider {
	position: absolute;
	top: -0px;
	left: 430px;
	background-color: black;
	width: 5px;
	max-width: 100%;
	height: 252px;
	max-height: 100%;
}

.saveContainer {
	margin-left: 440px;
	margin-top: 10px;
}

#loadSave_btn {
	margin-left: 12px;
	width: 80px;
	max-width: 100%;
	height:30px;
	max-height: 100%;
	font-size: 15px;
}

#deleteSave_btn {
	margin-left: 12px;
	width: 80px;
	max-width: 100%;
	height:30px;
	max-height: 100%;
	font-size: 15px;
}

.changeLog_container {
	position: absolute;
	border: 1px solid black;
	left: 293.5px;
	top: 320px;
	width: 892px;
	height: 350px;
	max-width: 100%;
	max-height: 100%;
	background-color: gray;
	text-align: center;
}

.change_title {
	border-bottom:1px dotted black;
	position: absolute;
	font-size: 30px;
	width: 892px;
	height: 50px;
	max-width: 100%;
	max-height: 100%;
}

.version_drop {
	position: absolute;
	left: 43.125%;
	top: 65px;
}

#changeLog_main {
	text-align: left;
	position: absolute;
	top:100px;
	width: 100%;
	height: 250px;
	max-width: 100%;
	max-height: 100%;
}

.links_container {
	border: 1px solid black;
	position: absolute;
	left: 885.5px;
	width: 300px;
	height: 125px;
	max-width: 100%;
	max-height: 100%;
	background-color: gray;
}

.links_title {
	position: absolute;
	font-size: 25px;
	left:121px;
	top:10px;
	
}

.links {
	position: absolute;
	top:50px;
	width: 300px;
	height: 75px;
	max-width: 100%;
	max-height: 100%;
	border-top: 1px dotted black;
}

.link_btn {
	position: absolute;
	left:70px;
	margin-top: 10px;
}

.other_info {
	border: 1px solid black;
	background-color: gray;
	position: absolute;
	left: 885.5px;
	top: 150px;
	width: 300px;
	height: 100px;
	max-width: 100%;
	max-height: 100%;
	text-align: center;
}

.other_info_text {
	margin-top: 20px;
	text-align: center;
}
/* All auction styles */
.center_auction {
	justify-content: center;
	align-content: center;
	display: flex;
}

.auction_title {
	position: absolute;
	font-size: 25px;
	top:10px;
}

.auction_actions {
	border: 1px solid black;
	position: absolute;
	width: 500px;
	height: 600px;
	max-width: 100%;
	max-height: 100%;
	justify-content: center;
	align-content: center;
	display: flex;
}

.auction_text {
	position: absolute;
	max-width: 275px;
	width: 100%;
	max-height: 200px;
	height: 100%;
    top: 50px; /* Adjust the top position as needed to overlay the button where you want it */
    z-index: 2; /* Ensure the button is above the table (higher z-index) */
	border: 1px solid black;
	background-color: white;
	display: flex;
  	flex-direction: column;
	overflow: auto;
}

.auction_btn {
	position: absolute;
	top:270px;
}

.auction_btn .myBtn {
	font-size: 15px;
	width: 80px;
	height: 25px;
	margin-left: 1px;
	margin-top: 0px;
}

.auction_info_txt {
	position: absolute;
	top: 305px;
	text-align: center;
	font-size: 25px;
}

.auction_player_cash_container {
	font-size: 20px;
	text-align: center;
}

.auct_player_money {
	border: 1px solid black;
	background-color: white;
	position: absolute;
	width: 200px;
	height: 115px;
	max-width: 100%;
	max-height: 100%;
	left: 135px;
}

#auct_player1_money {
	top: 10px;
}
#auct_player2_money {
	top: 150px;
}
#auct_player3_money {
	top: 290px;
}
#auct_player4_money {
	top: 430px;
}

/* All management styles */
.action {
	position: absolute;
	left: 500px;
	top:10px;
	width: 400px;
	height: 93px;
	max-width: 100%;
	max-height: 100%;
}

.prop_container {
	border: 1px solid black;
	position: absolute;
	width: 400px;
	height: 93px;
	max-width: 100%;
	max-height: 100%;
}

.prop_container .prop_color {
	border: 1px solid black;
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
}

.prop_container .prop_name {
	position: absolute;
	margin-top: 4px;
	margin-left: 30px;
	font-size: 20px;
}

/* All trading styles */
#trading_menu .myBtn { /* myBtn for only the trading menu */
	font-size: 15px;
	width: 75px;
	height: 30px;
	margin-left:2px;
	margin-top:-3px;
}

#trading_menu .trade_action_container .myBtn { /* myBtn for only the trading menu */
	font-size: 15px;
	width: 95px;
	height: 40px;
	margin-left:10px;
	margin-top:3px;
	text-align: center;
	justify-content: center;
}

.menu_left {
	border: 1px solid black;
	position: absolute;
	left: 10px;
	top: 20px;
	width: 750px;
	height: 500px;
	max-width: 100%;
	max-height: 100%;
}

.menu_right {
	border: 1px solid black;
	position: absolute;
	left: 775px;
	top: 20px;
	width: 750px;
	height: 500px;
	max-width: 100%;
	max-height: 100%;
}

.player_name_container {
	display: flex;
	place-items: center;
	position: absolute;
	justify-content: center;
	border:1px solid black;
	font-size: 30px;
	width: 750px;
	height:50px;
	max-width: 100%;
	max-height: 100%;
}

.player_props_container {
	display: flex;
	place-items: center;
	position: absolute;
	justify-content: center;
	border: 1px solid black;
	font-size: 20px;
	top: 50px;
	width: 750px;
	height:50px;
	max-width: 100%;
	max-height: 100%;
}

.player_cash_container {
	display: flex;
	place-items: center;
	position: absolute;
	justify-content: center;
	border: 1px solid black;
	font-size: 20px;
	top: 100px;
	width: 750px;
	height:50px;
	max-width: 100%;
	max-height: 100%;
}

.player_ooj_container {
	display: flex;
	place-items: center;
	position: absolute;
	justify-content: center;
	border: 1px solid black;
	font-size: 20px;
	top: 150px;
	width: 750px;
	height:50px;
	max-width: 100%;
	max-height: 100%;
}

.player_info_container {
	position: absolute;
	border: 1px solid black;
	font-size: 20px;
	top: 200px;
	width: 750px;
	height:300px;
	max-width: 100%;
	max-height: 100%;
}

.giving_props {
	border: 1px solid black;
	position: absolute;
	background-color: white;
	display: flex;
  	flex-direction: row;
	overflow: auto;
	top: 20px;
	left: 50px;
	width: 300px;
	height: 250px;
	max-width: 100%;
	max-height: 100%;
}

.info_prop .prop_color {
	position: absolute;
	border: 1px solid black;
	left:5px;
	margin-top: 3px;
}

.info_prop .prop_name {
	position: absolute;
	left: 30px;
	margin-top: 3px;
}

.player_info_container .total_value {
	position: absolute;
	top: 50px;
	left: 450px;
	font-size: 30px;
}

.ooj_container {
	position: absolute;
	top: 150px;
	left: 445px;
	width: 267px;
	height: 75px;
	max-width: 100%;
	max-height: 100%;
	font-size: 30px;
}

.trade_action_container {
	border: 1px solid black;
	position: absolute;
	top:522px;
	left: 10px;
	width: 1518px;
	height:50px;
	max-width: 100%;
	max-height: 100% ;
}

#left_player_confirm {
	position: absolute;
	display:flex;
	font-size: 30px;
	left: 320px;
	margin-left: 10px;
}

#cancel_trade {
	position: absolute;
	display:flex;
	font-size: 30px;
	left: 695px;
	margin-left: 10px;
}

#right_player_confirm {
	position: absolute;
	display:flex;
	font-size: 30px;
	left: 1100px;
	margin-left: 10px;
}

/* All gameboard styles */
.cell_name {
	position: relative;
	left: 0px;
	top: 20px;
	text-align: center;
	width: 100%;
	font-size: 14px;
}

.spot_mid  {
    border: 1px solid black;
    width: 75px;
}

.spot_side {
    border: 1px solid black;
    height: 80px;
	width: 100px;
}

.corner {
    border: 1px solid black;
    height: 95px;
    width: 95px;
}

.cell_tag_mid {
	position: absolute;
	width: 70px;
	height: 20px;
	max-width: 100%;
	max-height: 100%;
	background-color: grey;
	border: 1px solid black;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cell_tag_side {
	position: absolute;
	width: 20px;
	height: 70px;
	max-width: 100%;
	max-height: 100%;
	background-color: grey;
	border: 1px solid black;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cell_tip_bottom  {
	width: 100px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 3;
	bottom: 150%;
	left: 50%;
	margin-left: -50px;
	z-index: 10;
}

.cell_tip_left {
	width: 100px;
	height: 20px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 3;
	bottom: 150%;
	left: 80%;
	top: 50%;
	margin-left: 15px;
	z-index: 10;
}

.cell_tip_top  {
	width: 100px;
	height: 20px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 3;
	bottom: 150%;
	left: 50%;
	top:1%;
	margin-left: -50px;
	margin-top: 80px;
	z-index: 10;
}

.cell_tip_right {
	width: 100px;
	height: 20px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 3;
	bottom: 150%;
	left: -80%;
	top: 50%;
	margin-left: -95px;
	z-index: 10;
}

.control {
	width: 100%;
	max-height: 800px;
}

.menu_btn {
	border: 1px solid black;
	display: flex;
	place-items: center;
	position: absolute;
	justify-content: center;
	max-width: 100%;
	width: 600px;
	max-height: 100%;
	height: 400px;
    top: 400px; /* Adjust the top position as needed to overlay the button where you want it */
    left: 190px; /* Adjust the left position as needed to overlay the button where you want it */
    z-index: 2; /* Ensure the button is above the table (higher z-index) */
}

#bankrupt_btn {
	position: absolute;
	top:740px;
	left:421.25px;
	z-index: 3;
}

#saveGame_btn {
	position: absolute;
	top:740px;
	left:421.25px;
	z-index: 3;
}

.control .myBtn:hover  {
	background-color: black;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.save_btn {
	background-color: lightblue; /* Green */
	position: absolute;
	border: none;
	color: black;
	padding: 15px 29px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
	top:750px;
	left:444px;
	z-index: 3;
}

.save_btn:hover  {
	background-color: black;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.action_btn_disabled {
	display: none;
	opacity: 0.6;
	cursor: not-allowed;
	margin-right: 5px;
	background-color: lightblue; /* Green */
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
}

.menu_btn .action_btn {
	font-size: 17px;
	margin-left: 0px;
	width: 100px;
	max-width: 100%;
	height:50px;
	max-height: 100%;
	border-radius: 15%;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	color: black;
	font-weight: 400;
	margin-bottom: auto;
}

.menu_btn .action_btn:hover  {
	background-color: black;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.action_txt {
	position: absolute;
	max-width: 600px;
	width: 100%;
	max-height: 200px;
	height: 100%;
    top: 50px; /* Adjust the top position as needed to overlay the button where you want it */
    z-index: 2; /* Ensure the button is above the table (higher z-index) */
	border: 1px solid black;
	background-color: white;
	display: flex;
  	flex-direction: column;
	overflow: auto;
}

.current_turn_text {
	position: absolute;
	color: black;
	text-align: center;
	font-size: 25px;
	top:280px;
}

.cell_mortgage_side {
	position: absolute;
	background-color: red;
	border: 1px solid black;
	height: 70px;
	width: 10px;
}

.cell_mortgage_mid {
	position: absolute;
	background-color: red;
	border: 1px solid black;
	height: 10px;
	width: 70px;
}

.money_container {
	position: absolute;
	left: 133px;
	top: 132px;
	width: 710px;
	max-width: 100%;
	height: 248px;
	max-height: 100%;
}

.game_data_container {
	position: absolute;
	left: 230px;
	top: 610px;
	max-width: 500px;
	width: 100%;
	font-size: 20px;
	text-align: center;
}

.dice_container {
	position: absolute;
	left: 190px;
	top: 650px;
	width: 600px;
	height: 150px;
	max-width: 100%;
	max-height: 100%;
	z-index: 3;
}

.dice {
	position: absolute;
	width:100px;
	height:100px;
	border-radius: 10%;
	top: 20px;
}

.jail_icon {
	background-color:orange;
	border: 1px solid black;
	position: absolute;
	top: 877px;
	left: 66px;
}

.player {
	border: 1px solid black;
	z-index: 2;
	position: absolute;
	width: 20px;
	height: 20px;
	max-width: 100%;
	max-height: 100%;
}

/* The tool tip for the player */
.player .playerTip {
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 3;
	bottom: 150%;
	left: 50%;
	margin-left: -60px;
	z-index: 10;
}

.player_money {
	position: absolute;
	width: 200px;
	height: 100px;
	max-width: 100%;
	max-height: 100%;
}

#player1_money {
	left: 100px;
	top: 10px;
}

#player2_money {
	left: 400px;
	top: 10px;
}

#player3_money {
	left: 100px;
	top: 130px;
}

#player4_money {
	left: 400px;
	top: 130px;
}

/* This is for the Houses of properties */
.house {
	background-color: lime;
	position: absolute;
	z-index: 2;
	width: 12px;
	height: 12px;
	border: 1px solid black;
}
/* This is for the Hotel of properties */
.hotel {
	background-color: red;
	position: absolute;
	z-index: 2;
	width: 12px;
	height: 12px;
	border: 1px solid black;
}