body {
    background-color: grey;
}

table {
    border-collapse: collapse;
    display: none;
	border: 2px solid black;
	border-spacing: 3px;
	margin: 25px;
	float: left;
}

.menu {
	z-index: 2;
}

/* Background design */
.background-design {
	position: absolute;
	z-index: -10;
    width: 100%;
    height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.bgLine {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	position: absolute;
	margin: 0;
    width: 100%;
	height: 100px;
	max-width: 100%;
	max-height: 100%;
	background-color: rgba(58, 92, 84, 10);
	transform: rotate(15deg);
	top:300px;
	left:-30px
}

/* Universal Styles */
.pointer {
	cursor: pointer;
}

/* All Winning Screen style */
.winningScreen_txt {
	font-size: 30px;
	top: 50%;
	left: 50%;
	width: 30em;
	height: 18em;
	margin-top: -9em;
	margin-left: -15em;
	border: 1px solid #666;
	display: flex;
	position: absolute;
}

/* All main menu styles */
.center_main {
	display: flex;
	position: absolute;
	justify-content: center;
	width: 100%;
	height: 100%;
	max-width: 99%;
	max-height: 98%;
}

.player_select {
	position: absolute;
	border: 1px solid black;
	background-color: gray;
	left: 293.5px;
	width: 450px;
	height:250px;
	max-width: 100%;
	max-height: 100%;
	z-index: 2;
}

.player_input_container {
	position: absolute;
	left: 18.5px;
	top: 5px;
}

.start_action {
	display: flex;
	place-items: center;
	position: absolute;
	justify-content: center;
	width: 450.5px;
	height:10px;
	top:140px;
}

.error {
	position: absolute;
	border: 1px solid black;
	width: 450px;
	height:75px;
	top:173.5px;
}

.action_txt_main_container {
	position: absolute;
	border: 1px solid black;
	left: 293.5px;
	top: 350px;
	width: 892px;
	height: 300px;
	max-width: 100%;
	max-height: 100%;
	background-color: gray;
}

.change_title {
	position: absolute;
	left: 41%;
	font-size: 30px
}

.version_drop {
	position: absolute;
	left: 43.125%;
	top: 50px;
}

#changeLog_main {
	position: absolute;
	top:100px;
	width: 100%;
	max-width: 100%;
}

.links_container {
	border: 1px solid black;
	position: absolute;
	left: 885.5px;
	width: 300px;
	height: 125px;
	max-width: 100%;
	max-height: 100%;
	background-color: gray;
}

.links_title {
	position: absolute;
	font-size: 25px;
	left:121px;
	top:10px;
	
}

.links {
	position: absolute;
	top:50px;
	width: 300px;
	height: 75px;
	max-width: 100%;
	max-height: 100%;
	border-top: 1px dotted black;
}

.link_btn {
	position: absolute;
	left:70px;
	margin-top: 10px;
}

.other_info {
	border: 1px solid black;
	background-color: gray;
	position: absolute;
	left: 885.5px;
	top: 150px;
	width: 300px;
	height: 100px;
	max-width: 100%;
	max-height: 100%;
	text-align: center;
}

.other_info_text {
	margin-top: 20px;
	text-align: center;
}

/* All auction styles */
.auction_title {
	position: absolute;
	font-size: 25px;
	left:125px;
	top:10px;
}

.auction_actions {
	border: 1px solid black;
	position: absolute;
	width: 400px;
	height: 600px;
	max-width: 100%;
	max-height: 100%;
	left:500px;
}

.auction_text {
	position: absolute;
	max-width: 275px;
	width: 100%;
	max-height: 200px;
	height: 100%;
    top: 50px; /* Adjust the top position as needed to overlay the button where you want it */
	left: 65px;
    z-index: 2; /* Ensure the button is above the table (higher z-index) */
	border: 1px solid black;
	background-color: white;
	display: flex;
  	flex-direction: column;
	overflow: auto;
}

.auction_btn {
	position: absolute;
	border: 1px solid black;
	top:275px;
	left:35px
}

.auction_info_txt {
	position: absolute;
	top: 305px;
	left:130px;
	text-align: center;
	font-size: 25px;
}

.auction_player_cash_container {
	font-size: 20px;
	text-align: center;
}

.auct_player_money1 {
	border: 1px solid black;
	background-color: white;
	position: absolute;
	width: 200px;
	height: 115px;
	max-width: 100%;
	max-height: 100%;
	left: 135px;
	top: 10px;
}

.auct_player_money2 {
	border: 1px solid black;
	background-color: white;
	position: absolute;
	width: 200px;
	height: 115px;
	max-width: 100%;
	max-height: 100%;
	left: 1050px;
	top: 10px;
}

.auct_player_money3 {
	border: 1px solid black;
	background-color: white;
	position: absolute;
	width: 200px;
	height: 115px;
	max-width: 100%;
	max-height: 100%;
	left: 135px;
	top: 230px;
}

.auct_player_money4 {
	border: 1px solid black;
	background-color: white;
	position: absolute;
	width: 200px;
	height: 115px;
	max-width: 100%;
	max-height: 100%;
	left: 1050px;
	top: 230px;
}
/* All management styles */
.action {
	position: absolute;
	left: 500px;
	top:10px;
	width: 400px;
	height: 93px;
	max-width: 100%;
	max-height: 100%;
}
.prop_container {
	border: 1px solid black;
	position: absolute;
	width: 400px;
	height: 93px;
	max-width: 100%;
	max-height: 100%;
}

.prop_container .prop_color {
	border: 1px solid black;
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
}
.prop_container .prop_name {
	position: absolute;
	margin-top: 4px;
	margin-left: 30px;
	font-size: 20px;
}

/* All trading styles */
.menu_left {
	border: 1px solid black;
	position: absolute;
	left: 10px;
	top: 20px;
	width: 750px;
	height: 500px;
	max-width: 100%;
	max-height: 100%;
}

.menu_right {
	border: 1px solid black;
	position: absolute;
	left: 775px;
	top: 20px;
	width: 750px;
	height: 500px;
	max-width: 100%;
	max-height: 100%;
}

.player_name_container {
	display: flex;
	place-items: center;
	position: absolute;
	justify-content: center;
	border:1px solid black;
	font-size: 30px;
	width: 750px;
	height:50px;
	max-width: 100%;
	max-height: 100%;
}

.player_props_container {
	display: flex;
	place-items: center;
	position: absolute;
	justify-content: center;
	border: 1px solid black;
	font-size: 20px;
	top: 50px;
	width: 750px;
	height:50px;
	max-width: 100%;
	max-height: 100%;
}

.player_cash_container {
	display: flex;
	place-items: center;
	position: absolute;
	justify-content: center;
	border: 1px solid black;
	font-size: 20px;
	top: 100px;
	width: 750px;
	height:50px;
	max-width: 100%;
	max-height: 100%;
}

.player_ooj_container {
	display: flex;
	place-items: center;
	position: absolute;
	justify-content: center;
	border: 1px solid black;
	font-size: 20px;
	top: 150px;
	width: 750px;
	height:50px;
	max-width: 100%;
	max-height: 100%;
}

.player_info_container {
	position: absolute;
	border: 1px solid black;
	font-size: 20px;
	top: 200px;
	width: 750px;
	height:300px;
	max-width: 100%;
	max-height: 100%;
}

.giving_props {
	border: 1px solid black;
	position: absolute;
	background-color: white;
	display: flex;
  	flex-direction: row;
	overflow: auto;
	top: 20px;
	left: 50px;
	width: 300px;
	height: 250px;
	max-width: 100%;
	max-height: 100%;
}

.info_prop .prop_color {
	position: absolute;
	border: 1px solid black;
	left:5px;
	margin-top: 3px;
}

.info_prop .prop_name {
	position: absolute;
	left: 30px;
	margin-top: 3px;
}

.player_info_container .total_value {
	position: absolute;
	top: 50px;
	left: 450px;
	font-size: 30px;
}

.ooj_container {
	position: absolute;
	top: 150px;
	left: 445px;
	width: 267px;
	height: 75px;
	max-width: 100%;
	max-height: 100%;
	font-size: 30px;
}

.trade_action_container {
	border: 1px solid black;
	position: absolute;
	top:522px;
	left: 10px;
	width: 1518px;
	height:50px;
	max-width: 100%;
	max-height: 100% ;
}

.left_confirm {
	position: absolute;
	display:flex;
	font-size: 30px;
	left: 320px;
	margin-left: 10px;
}

.cancel_confirm {
	position: absolute;
	display:flex;
	font-size: 30px;
	left: 695px;
	margin-left: 10px;
}

.right_confirm {
	position: absolute;
	display:flex;
	font-size: 30px;
	left: 1100px;
	margin-left: 10px;
}

/* All gameboard styles */
.cell_name {
	position: relative;
	left: 0px;
	top: 25px;
	text-align: center;
	width: 100%;
	font-size: 15px;
}

.spot_mid  {
    border: 1px solid black;
    width: 75px;
}

.spot_side {
    border: 1px solid black;
    height: 80px;
}

.corner {
    border: 1px solid black;
    height: 95px;
    width: 95px;
}

.cell_tag_mid {
	position: absolute;
	width: 70px;
	height: 20px;
	max-width: 100%;
	max-height: 100%;
	background-color: grey;
	border: 1px solid black;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cell_tag_side {
	position: absolute;
	width: 20px;
	height: 70px;
	max-width: 100%;
	max-height: 100%;
	background-color: grey;
	border: 1px solid black;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cell_tip_bottom  {
	width: 100px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 3;
	bottom: 150%;
	left: 50%;
	margin-left: -50px;
	z-index: 10;
}

.cell_tip_left {
	width: 100px;
	height: 20px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 3;
	bottom: 150%;
	left: 80%;
	top: 50%;
	margin-left: 15px;
	z-index: 10;
}

.cell_tip_top  {
	width: 100px;
	height: 20px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 3;
	bottom: 150%;
	left: 50%;
	top:1%;
	margin-left: -50px;
	margin-top: 80px;
	z-index: 10;
}

.cell_tip_right {
	width: 100px;
	height: 20px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 3;
	bottom: 150%;
	left: -80%;
	top: 50%;
	margin-left: -95px;
	z-index: 10;
}

.control {
	width: 100%;
	max-height: 800px;
}

.menu_btn {
	border: 1px solid black;
	display: flex;
	place-items: center;
	position: absolute;
	justify-content: center;
	max-width: 100%;
	width: 600px;
	max-height: 100%;
	height: 400px;
    top: 400px; /* Adjust the top position as needed to overlay the button where you want it */
    left: 190px; /* Adjust the left position as needed to overlay the button where you want it */
    z-index: 2; /* Ensure the button is above the table (higher z-index) */
}

.bankrupt_btn {
	background-color: lightblue; /* Green */
	position: absolute;
	border: none;
	color: black;
	padding: 15px 29px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
	top:750px;
	left:430px;
	z-index: 3;
}

.bankrupt_btn:hover  {
	background-color: black;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.action_btn_disabled {
	display: none;
	opacity: 0.6;
	cursor: not-allowed;
	margin-right: 5px;
	background-color: lightblue; /* Green */
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
}

.menu_btn .action_btn {
	background-color: lightblue; /* Green */
	border: none;
	color: black;
	padding: 15px 29px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
	margin-bottom: auto;
}

.menu_btn .action_btn:hover  {
	background-color: black;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.action_txt {
	position: absolute;
	max-width: 600px;
	width: 100%;
	max-height: 200px;
	height: 100%;
    top: 50px; /* Adjust the top position as needed to overlay the button where you want it */
    z-index: 2; /* Ensure the button is above the table (higher z-index) */
	border: 1px solid black;
	background-color: white;
	display: flex;
  	flex-direction: column;
	overflow: auto;
}

.current_turn_text {
	position: absolute;
	color: black;
	text-align: center;
	font-size: 25px;
	top:280px;
}

.cell_mortgage_side {
	position: absolute;
	background-color: red;
	border: 1px solid black;
	height: 70px;
	width: 10px;
}

.cell_mortgage_mid {
	position: absolute;
	background-color: red;
	border: 1px solid black;
	height: 10px;
	width: 70px;
}

.money_container {
	position: absolute;
	left: 133px;
	top: 132px;
	width: 710px;
	max-width: 100%;
	height: 248px;
	max-height: 100%;
}

.game_data_container {
	position: absolute;
	left: 230px;
	top: 610px;
	max-width: 500px;
	width: 100%;
	font-size: 20px;
	text-align: center;
}

.dice_container {
	border:1px solid blue;
	position: absolute;
	left: 190px;
	top: 650px;
	width: 600px;
	height: 150px;
	max-width: 100%;
	max-height: 100%;
	z-index: 3;
}

.dice {
	position: absolute;
	width:100px;
	height:100px;
	border-radius: 10%;
	top: 20px;
}

.jail_icon {
	background-color:orange;
	border: 1px solid black;
	position: absolute;
	top: 877px;
	left: 66px;
}

.player {
	border: 1px solid black;
	z-index: 2;
	position: absolute;
	width: 20px;
	height: 20px;
	max-width: 100%;
	max-height: 100%;
}

/* The tool tip for the player */
.player .playerTip {
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 3;
	bottom: 150%;
	left: 50%;
	margin-left: -60px;
	z-index: 10;
}

.player_money1 {
	position: absolute;
	width: 200px;
	height: 100px;
	max-width: 100%;
	max-height: 100%;
	left: 100px;
	top: 10px;
}

.player_money2 {
	position: absolute;
	width: 200px;
	height: 100px;
	max-width: 100%;
	max-height: 100%;
	left: 400px;
	top: 10px;
}

.player_money3 {
	position: absolute;
	width: 200px;
	height: 100px;
	max-width: 100%;
	max-height: 100%;
	left: 100px;
	top: 130px;
}

.player_money4 {
	position: absolute;
	width: 200px;
	height: 100px;
	max-width: 100%;
	max-height: 100%;
	left: 400px;
	top: 130px;
}
/* This is for the Houses of properties */
.house {
	background-color: lime;
	position: absolute;
	z-index: 2;
	width: 12px;
	height: 12px;
	border: 1px solid black;
}
/* This is for the Hotel of properties */
.hotel {
	background-color: red;
	position: absolute;
	z-index: 2;
	width: 12px;
	height: 12px;
	border: 1px solid black;
}